
server {
{% if nginx_site_ssl %}
  listen 443{% if nginx_site_default %} default_server{% endif %};

  ssl on;
{% if nginx_site_letsencrypt %}
  ssl_certificate /etc/letsencrypt/live/{{ nginx_site_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx_site_name }}/privkey.pem;
{% else %}
  ssl_certificate {{ nginx_site_cert }};
  ssl_certificate_key {{ nginx_site_key }};
{% else %}
  listen 80;
{% endif %}

  server_name {{ nginx_site_name }};
{% if nginx_site_letsencrypt %}
  include {{ nginx_site_include_dir }}/letsencrypt.conf;
{% endif %}
{% for i in nginx_site_includes %}
  include {{ nginx_site_include_dir }}/{{ i }}.conf;
{% endfor %}

  access_log /var/log/nginx/{{ nginx_site_name }}_access.log;
  error_log /var/log/nginx/{{ nginx_site_name }}_error.log;

  root {{ nginx_site_root }};

  index index.php index.html;
}

{% if nginx_site_ssl %}
server {
  listen 80{% if nginx_site_default %} default_server{% endif %};
  server_name {{ nginx_site_name }}{% if nginx_site_aliases is defined %}{% for i in nginx_site_aliases %} {{ i }}{% endfor %}{% endif%};
  return 301 https://{{ nginx_site_name }}$request_uri;
}
{% if nginx_site_aliases is defined %}
server {
  listen 443;

  ssl on;
  ssl_certificate /etc/letsencrypt/live/{{ nginx_site_name }}/fullchain.pem;
  ssl_certificate_key /etc/letsencrypt/live/{{ nginx_site_name }}/privkey.pem;
  server_name{% for i in nginx_site_aliases %} {{ i }}{% endfor %};
  return 301 https://{{ nginx_site_name }}$request_uri;
}
{% endif %}
{% else %}
{% if nginx_site_aliases is defined %}
server {
  listen 80;

  server_name{% for i in nginx_site_aliases %} {{ i }}{% endfor %};
  return 301 http://{{ nginx_site_name }}$request_uri;
}
{% endif %}
{% endif %}
